@import url('./variables.css');



@font-face {
  font-family: "Inception";
  src: url('./assets/inception.woff2');
  font-weight: 400;

}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #0a1225;
}
#bg-wrapper {
  background-color: #000;
  background-repeat: no-repeat;
  background: url('/images/landscape.png') no-repeat 0 0;
  background-size: 1600px;
  background-position: center top;
  height: 961px;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
  font-family: arial !important;
  padding-top: 155px;
  position: relative;
}
#wrapper span {
  padding-right: 63px;
}

#header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* color: #386a81; */
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  width: 44%;
  margin: auto;
  border-radius: 8px;
}
#wincount {
  position: absolute;
  top: 95px;
  right: 44px;
}
#temp_div {

  width: 620px;
  height: 309px;
  margin: 0 auto;
  top: 0;
  /* color: #fff !important;
  left: 30%;
  top: 170px; */

  /* right: 536px; */
  text-align: center;
  /* margin-left: 28%; */
  /* margin-top: 43px;
  position: absolute;
  border: 1px solid #000;
  width: 800px;
  height: 380px; */
  /* right: 355px; */
  /* top: 121px; */
  font-size: 24px;
  /* align-items: center; */
}
canvas {
  font-size: 50px;
  width: 620px;
  height: 309px;
}
#startButton {
  border-radius: 20px;
  border: white;
  color: white;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #4A00E0;
  background: linear-gradient(90deg, #8E2DE2 0%, #4A00E0 100%);
  box-shadow: 0px 7px 15px 0px rgba(142, 45, 226, 0.45);
  padding: 0 32px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 46px;
  font-weight: 600;
}
#startButton:hover {
  background: linear-gradient(90deg, #8E2DE2 0%, #4A00E0 100%);

}
#startButton span {
  padding-right: 0;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    font-size: 16px !important;
    width: 86% !important;

    /* display: block; */
    /* margin-right: 288px !important; */
    /* margin-left: -99px; */
  }
  #wincount {
    margin-top: 2px !important;
    margin-left: 20px;
    margin-bottom: -20px !important;
    padding: 0px 11px 20px 0px !important;
  }

  #temp_div {
    width: 85% !important;
    font-size: 24px;
    text-align: center;
    vertical-align: text-top;
    font-size: 100px !important;
  }
  .canvas-width {
    width: 100% !important;
    height: auto !important;
  }
  #startButton {
    /* border-radius: 20px;
    border: white;
    color: white; */
    /* margin-left: -15% !important; */
    /* background: #0079ca;
    width: 130px;
    height: 40px;
    font-size: 16px; */
    text-align: center;
    cursor: pointer;
    margin-top: -114px !important;
    position: none !important;
    margin-left: -58px !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #startButton {
    border-radius: 20px;
    border: white;
    color: white;
    margin-left: -7% !important;
    background: #0079ca;
    width: 130px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: -112px !important;
    /* position: absolute; */
  }
  #header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #386a81; */
    color: #fff;
    font-size: 26px;
    background: #edefff;
    box-shadow: 2px 3.464px 24px 0px rgb(106 105 194 / 25%);
    font-weight: 500;
    width: 79% !important;
    margin: auto;
    border-radius: 8px;
  }
}


#win-screen {
  display: none;
}

#round-screen {
  display: none;
}
#round-display {
  position: absolute;
  color: #000;
  left: 45%;
  top: 48.3%;
  -webkit-transform: rotate(6.5deg);
  -moz-transform: rotate(6.5deg);
  -o-transform: rotate(6.5deg);
  -ms-transform: rotate(6.5deg);
  transform: rotate(6.5deg);
  font-weight: bold;
  font-size: 20px;
}
canvas {
  display: none;
}


@media(max-width:1200px) {




  * { 
    box-sizing: border-box;
  }


  h1 { 
    margin: 0px;
  }

  #bg-wrapper { 
    background: none;
    height: 100vh;
    background: url('./images/landscape-mobile.png');
    background-size: cover;
  }

  #wrapper {
     width:100%; 
     padding-top: 64px;
     max-width: 672px;
     width:95%; 
  }

  #temp_div { 
    width: 100% !important;
    height: 100% !important;
  }
  

  #intro-screen, #win-screen, #round-screen, #a { 
    width:100%;
    border: 16px solid transparent;
    border-image: url('./images/border.png') 30 / 19px round;
    
  }
  #start-button { 
    position: static;
  }

  #a { 
    width:100%; 
    object-fit: cover;
  }


  #wincount { 
    display: flex;
    align-items: flex-end;
    gap:8px;
    padding: 0px !important;
    margin: 0px !important;
    position: static;
  }


  .button-wrap { 
    display: flex;
    justify-content: center;
  }

  #startButton { 
    margin-top:24px !important;
    text-align: center;
    margin-left: 0px !important;
  }

  #wrapper span { 
    padding-right: 0px;
  }


  #top { 
    display: flex;
    justify-content: space-between;
    gap:16px;
  }

  .wincount-item { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    height:60px; 
    width:40px;
    border-radius: 15px;
    border:2px solid #CA898F;
    outline: 4px solid black;
    background: var(--Gradient, linear-gradient(180deg, #1D3972 0%, #24478E 100%));
    position: relative;
    margin-top: -20px;
    font-weight: 700;
    position: relative;
    color: white;
    font-size: 24px;
    margin-bottom: 22px;
    @media(min-width:550px) { 
      width: 50px; 
      height: 70px;
      font-size: 32px;
    }
  }
  .wincount-item::before, .wincount-item::after {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    border-right: 2px solid black;
    border-left: 2px solid black;  
    background: #CA898F;
    position: absolute;
    top:calc(100% + 4px);
    z-index: 1; 
  }


  .wincount-item::before { 
    left: 12px;
    z-index: 0;
  }

  .wincount-item::after {
     right: 12px;
     z-index: 0;
  }


  .scoreboard {
     background: var(--interface-dark-blue);
     font-size: 16px;
     color: white;
     font-weight: 600;
      height: 40px;
      padding: 0 12px;
      border:2px solid var(--interface-pink);
      outline: 4px solid black;
      border-radius: var(--radius-default);
      font-family: "Inception", sans-serif;
      display: flex;
      align-items: center;
      height: 70px;
      position: relative;
      font-size:14px;
      z-index: 1;
      margin-bottom: 22px;
      @media(min-width:400px) { 
        padding: 0 32px;
        font-size:16px; 
      }
  }


  .scoreboard-title {
    font-size:16px;
    @media(min-width:400px) { 

      font-size:32px; 
    }
  }

  .scoreboard-text {
    position: relative;
    z-index: 2;
    display: flex;
    gap:8px;
    display: flex;
    align-items: center;
    gap:8px;
  }

  .scoreboard-border {
     border: 1px solid #BBBBBB;
    border-radius: var(--radius-default);
  }

  .scoreboard-borders {
    display: flex;
    flex-direction: column;
    gap:1px;
    width: 100%;

  }

  .scoreboard-blur { 
    background:#244EA7;
filter: blur(11.5px);
height: 50%; 
width: 80%;
position: absolute; 
top: 50%; 
left: 50%;
transform: translate(-50%, -50%);
z-index: 0;
  }

  .scoreboard::before, .scoreboard::after {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    border-right: 2px solid black;
    border-left: 2px solid black;  
    background: #CA898F;
    position: absolute;
    top:calc(100% + 4px);
    z-index: 1; 
  }

  .scoreboard::before { 
    left: 12px;
    z-index: 0;
  }

  .scoreboard::after {
     right: 12px;
     z-index: 0;
  }


  

  .count-icon { 
    height:40px; 
    width: 40px;
    border:2px solid var(--interface-pink);
    outline: 4px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: calc(100% - 10px); 
    background: var(--Gradient, linear-gradient(180deg, #1D3972 0%, #24478E 100%));
  }
  .count-icon svg { 
    width:32px;
  }

}

@media(min-width:1200px) { 
  .scoreboard {
     display: none;
  }
  .count-icon {
     display: none;
  }


  #wincount { 
    left: 522px !important;
    display: flex;
    gap:65px;
  }

  .wincount-item { 
    display: inline;
    color: white;
    display: flex;
  }

}